<div data-role="view" data-layout="main-layout" id="details-view" data-title="Movie Details" data-show="app.details.init">
    <ul id="select-details-option" data-index="0">
        <li>
            Details
        </li>
        <li>
            Cast
        </li>
        <li>
            Clips
        </li>
        <li>
            Similiar movies
        </li>
    </ul>
    <ul data-role="listview" data-style="inset">
        <li class="movie-details-wrapper">
            <div class="movie-details">
                <img class="push-left" data-bind="attr: { src: movie.poster, alt: movie.title }" />
                <div class="push-left details-main-info">
                    <p data-bind="text: movie.title"></p>
                    <span class="small" data-bind="text: movie.genresAndDuration"></span>
                    <br />
                    <span class="details-rating" data-bind="text: movie.ratings.audience_score"></span>
                    <a class="details-imdb-link small" data-bind="attr: { href: movie.imdbLink }">View in IMDB</a>
                </div>
                <div class="clear"></div>

                <p class="medium">Description</p>
                <p class=" description small" data-bind="text: movie.description"></p>
            </div>
        </li>
    </ul>

    <ul data-role="listview" data-style="inset" style="display:none" id="details-cast">
    </ul>

    <ul data-role="listview" data-style="inset" style="display:none" id="details-clips">
    </ul>

    <ul data-role="listview" data-style="inset" data-type="group" style="display:none">
        <li>
            Similar movies
            <ul data-id="details-similar" data-template="top-template" data-bind="source: similar">
            </ul>
        </li>
    </ul>

    <p class="comments">
        <a data-role="button" data-rel="modalview" href="#modalview-comment" id="modalview-open-button">Leave a comment</a>
    </p>

    <div data-role="modalview" id="modalview-comment" style="width: 95%; height: 18em;">
        <div data-role="header">
            <div data-role="navbar">
                <span data-align="left">Leave a comment</span>
                <a data-click="app.details.closeModalViewComment" class="medium" data-role="button" data-align="right">Cancel</a>
            </div>
        </div>
        <div class="comment-inputs">
            <textarea id="username" rows="7" cols="20"></textarea>
            <a data-click="app.details.postComment" id="post-comment-input" type="button" data-role="button">Post your comment</a>
        </div>
    </div>
</div>